<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="NRLog.txt" />
      <target name="console" xsi:type="Console" />
    </targets>

    <rules>
      <!-- Uncomment to enable logging to a file -->
      <!-- <logger name="*" minlevel="Trace" writeTo="logfile" /> -->
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <!-- Application Settings -->
  <appSettings>
    <add key="NewRelicLicenseKey" value="5adacbdbd6a2b48883cffe54968440bc25663a52"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>

